<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toko Baju</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div id="vue">
        <header id="home">
            <nav class="nav-wrapper container nav-lg">
                <a href="index.html" class="title-font logo">swift</a>
                <ul type="none" class="nav-items">
                    <li class="nav-link title-font active">
                        <a href="home.html">Home</a>
                    </li>
                    <li class="nav-link title-font dropdown">
                        <a href="detail.html">Product</a>
                    </li>
                    <li class="nav-link title-font">
                        <a href="#about">About </a>
                    </li>
                    <li class="nav-link title-font">
                        <a href="#feature">Feature</a>
                    </li>
                </ul>
                <button class="btn btn-nav" data-bs-toggle="modal" data-bs-target="#cartModal" @click="countTotalPrice">Cart {{ cart.length }}</button>
            </nav>
            <nav class="nav-sm nav-wrapper container">
                <a href="index.html" class="title-font logo">swift</a>
                <div class="nav-sm-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="black" fill-rule="evenodd" d="M3 16h18v2H3zm0-5h18v2H3zm0-5h18v2H3z"/></svg>
                    <ul type="none" class="nav-sm-item">
                        <li class="nav-link title-font">
                            <a href="#home">Home</a>
                        </li>
                        <li class="nav-link title-font dropdown">
                            <a href="#product">Product</a>
                        </li>
                        <li class="nav-link title-font">
                            <a href="#about">About </a>
                        </li>
                        <li class="nav-link title-font">
                            <a href="#feature">Feature</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <section class="hero-section">
                <h1 class="title-font title-header container">Step Into Style: Discover Your Perfect T-shirt</h1>
                <div class="hero-img-wrapper">
                    <img src="https://img.freepik.com/free-photo/close-up-flannel-shirt-detail_23-2149575311.jpg?t=st=1713179954~exp=1713183554~hmac=e10016e54ff4c1db71fdeb46255ebaa1103a894b424752639acbe161770d2f98&w=740" alt="Clothes 1" class="w-full img-hero">
                    <img src="https://img.freepik.com/free-photo/still-life-with-classic-shirts_23-2150828604.jpg?t=st=1713180003~exp=1713183603~hmac=4eebf05981466e673573b1076de00ae5299994ba0690c0cbe2caf69538bdf7c3&w=740" alt="Clothes 2" class="w-full img-hero">
                    <img src="https://img.freepik.com/free-photo/garment-beautiful-boy-beauty-sleeve_1203-6474.jpg?t=st=1713180087~exp=1713183687~hmac=4b6b4d4a4785c8d869550dfabcb7f4ae3e13012089ec06e7c01b62694eea208a&w=360" alt="Clothes 3" class="w-full img-hero">
                    <img src="https://img.freepik.com/free-photo/close-up-flannel-shirt-detail_23-2149575382.jpg?t=st=1713180023~exp=1713183623~hmac=893ed29f040e0b8e91e0fadbead1600816efe9241f7dafa3497a1227aa3ab772&w=740" alt="Clothes 4" class="w-full img-hero">
                </div>
            </section>
        </header>
        <main>
            <section class="product-section container section-margin-top">
                <div class="normal-section header-section">
                    <div class="text-section">
                        <h2 class="title-section title-font">
                            Discover Your Perfect T-shirt: <br>
                            <!--                        Unlocking Learning Excellence with SmartLibrary-->
                        </h2>
                    </div>
                    <div class="space-section"></div>
                    <div class="image-section">
                        <p class="desc">
                            From Clothes to dress, we have a wide variety of styles to choose from. Whether you're looking for a new pair of Clothes for everyday wear or a special occasion, we have something for everyone. Our Clothes are made with high-quality materials and construction, so you can be sure they will last.
                        </p>
                    </div>
                </div>
                <div class="content-section grid4">
                    <div v-for="(item, index) in products" :key="index" class="col">
                        <button class="card-product bg-white p-0" data-bs-toggle="modal" data-bs-target="#detailModal" @click="seeDetail(index)">
                            <div class="card-product-header">
                                <h6 class="logo-product title-font">swift</h6>
                                <p class="price title-font">{{ item.priceDiscount }}</p>
                            </div>
                            <div class="card-product-img">
                                <img :src="item.image" alt="product 1" class="w-full img-product flipped-img">
                            </div>
                            <div class="card-product-bottom">
                                <h4 class="title-font title-product">{{ item.name }}</h4>
                            </div>
                        </button>
                    </div>
                </div>
            </section>
            <section id="about" class="about-section section-margin-top container normal-section">
                <div class="image-section">
                    <img src="https://img.freepik.com/free-photo/80-s-inspired-summer-activities-with-retro-aesthetic_23-2151425782.jpg?t=st=1713178258~exp=1713181858~hmac=564dfd26a91b6abe6e10ce9015355c7fc49f99f4687a3c68727ce1debe4a16b8&w=360" alt="about img" class="w-full img-border">
                </div>
                <div class="space-section"></div>
                <div class="text-section text-about">
                    <h2 class="title-about title-font">
                        <!--                   About swift Clothes: Your Premier Shoe Store-->
                        About Swift Sheos: Your Go-To For Stylish and Comfortable T-shirt
                    </h2>
                    <p class="desc desc-about">
                        Swift Clothes is a leading online retailer of stylish and comfortable Clothes. We offer a wide variety of brands and styles to choose from, so you're sure to find the perfect pair of T-shirt to suit your needs. Whether you're looking for a new pair of Clothes for the gym, boots for hiking, or dress Clothes for a special event, we have something for everyone.
                    </p>
                    <p class="desc p2 desc-about">
                        Our team of experts is always on hand to help you find the perfect pair of T-shirt. We believe that everyone deserves to feel confident and comfortable in their T-shirt, and we're here to help you make that happen.
                    </p>
                    <a href="#testi" class="btn btn-main btn-about">Our Testimonial</a>
                </div>
            </section>
            <section id="feature" class="feature-section section-margin-top container normal-section">
                <div class="text-section">
                    <h2 class="title-about title-font">
                        Experience the Difference: Swift Clothes Features
                    </h2>
                    <p class="desc-about desc">
                        At Swift Clothes, we believe that everyone deserves to experience the joy of wearing stylish and comfortable Clothes. That's why we offer a wide variety of high-quality Clothes at affordable prices. We also offer a variety of features to make your shopping experience as convenient and enjoyable as possible.
                    </p>
                    <a href="#product" class="btn btn-main btn-about">See Our Product</a>
                </div>
                <div class="space-section"></div>
                <div class="image-section">
                    <img src="https://img.freepik.com/free-photo/bearded-young-man-choosing-red-t-shirt-from-rail-clothing-shop_23-2148175642.jpg?t=st=1713178369~exp=1713181969~hmac=ee07a5494b887a9bcf864e46af43bb1f506a663b172b916d4b1bc734e4ad2f35&w=360" alt="feature image" class="w-full img-border">
                </div>
            </section>
            <section id="testi" class="testi-section section-margin-top container normal-section">
                <div class="image-section">
                    <img src="https://img.freepik.com/free-photo/spring-wardrobe-switch-view_23-2150264155.jpg?t=st=1713179763~exp=1713183363~hmac=69744b7ddc5908f935603548b82e66fa0af3bdefde002e8567b0ded7b27f0dbe&w=740" alt="testi img" class="w-full img-border">
                </div>
                <div class="space-section"></div>
                <div class="text-section text-about">
                    <h2 class="title-about title-font">
                        Don't Just Take Our Word for It: See What Our Customers Say
                    </h2>
                    <p class="desc desc-about">
                        "I needed a new pair of dress Clothes for a special event and I found the perfect pair at swift Clothes. They're high-quality, stylish, and affordable. I received a lot of compliments on my Clothes and I would definitely recommend swift sheos to anyone looking for a new pair of dress Clothes."
                    </p>
                    <div class="testi-identity">
                        <img src="img/testi1.png" alt="testi profile">
                        <div class="">
                            <h4 class="title-font testi-name">Agus Dharma</h4>
                            <p class="testi-job desc">Model</p>
                        </div>
                    </div>

                </div>
            </section>
            <div class="modal fade modal-xl" id="detailModal" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body p-5">
                            <div class="normal-section">
                                <div class="image-section">
                                    <img :src="detail.imgDetail" alt="product 1" class="w-full  img-detail">
                                </div>
                                <div class="space-section"></div>
                                <div class="text-section">
                                    <h1 class="title-font title-product-detail">
                                        {{detail.nameDetail}}
                                    </h1>
                                    <h2 class="price-detail">
                                        RP. {{detail.priceDetail}}
                                    </h2>
                                    <p class="desc desc-detail">
                                        {{detail.description}}
                                    </p>
                                    <div class="feature-wrapper">
                                        <h3 class="title-font title-feature">Why You Should Buy?</h3>
                                        <ul class="list-feature-wrapper" type="none">
                                            <li v-for="item in detail.specsDetail" class="list-feature">{{item}}</li>
                                        </ul>
                                    </div>
                                    <div class="size-wrapper">
                                        <h3 class="title-font title-feature">Choose your fit?</h3>
                                        <select name="size" id="selectedSize" v-model="sizeSelected" class="w-100 form-control">
                                            <option value="" class="">Choose Your Size</option>
                                            <option v-for="size in detail.sizeDetail" :value="size">{{ size }}</option>
                                        </select>
                                        <div class="special-size-wrapper">
                                            <h4 class="title-special-size">Quantity</h4>
                                            <div class="d-flex gap-2 mt-2">
                                                <button class="btn btn-dark" @click="minusQuantity">-</button>
                                                <input type="number" v-model="quantity" class="form-control" style="width: fit-content !important;">
                                                <button class="btn btn-dark" @click="plusQuantity()">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="package-wrapper">
                                        <h1 class="title-font title-package">Choose Your Packaging</h1>
                                        <div class="package-choise-wrapper">
                                            <label for="package" class="package-choice">
                                                <input type="radio" name="package" value="normal" v-model="packaging" class="input-radio">
                                                Normal
                                            </label>
                                            <label for="package" class="package-choice">
                                                <input type="radio" name="package" value="bubble wrap" v-model="packaging" class="input-radio">
                                                Bubble Wrap
                                            </label>
                                            <label for="package" class="package-choice">
                                                <input type="radio" name="package" value="kotak kayu" v-model="packaging" class="input-radio">
                                                Wooden Box
                                            </label>
                                        </div>
                                    </div>
                                    <div class="d-flex gap-3 mt-3">
                                        <button data-bs-toggle="modal" @click="addToCart()" data-bs-target="#cartNotifModal" class="btn btn-dark w-100">Add to Cart</button>
                                        <button class="btn btn-dark w-100" @click="buyProductByDetail()">Buy Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade modal-xl" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Cart Modal</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="d-flex flex-column gap-4">
                                <div class="d-flex justify-content-between" v-for="(item, index) in cart" :key="index">
                                    <div class="d-flex gap-3 align-items-center">
                                        <img :src="item.image" alt="" style="width: 100px; height: 100px; aspect-ratio: 1/1; object-fit: cover; object-position: center">
                                        <div class="">
                                            <p class="title-font fs-3"> {{item.name}} </p>
                                            <p>Qty : {{item.quantity}}</p>
                                            <p>{{item.request}}</p>
                                        </div>
                                    </div>
                                    <div class="">
                                        <button class="btn btn-dark" @click="deleteContentOnCart(index)">Delete Cart</button>
                                        <p>Rp. {{item.price}}</p>
                                    </div>

                                </div>
                            </div>
                            <div class="d-flex gap-4 mt-5 justify-content-end align-items-center">
                                {{ totalPrice }}
                                <button class="btn btn-dark" @click="buyProductByCart()">Buy All</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        <footer class="section-margin-top">
            <div class="footer-header container normal-section">
                <div class="footer-desc" >
                    <h6 class="title-font logo">swift Clothes</h6>
                    <p class="desc" style="max-width: 300px">
                        {{footer[0].footerDesc.desc}}
                    </p>
                    <div class=" socmed-wrapper">
                        <div class="btn-socmed">
                            <img :src="footer[0].footerDesc.fb" alt="">
                        </div>
                        <div class="btn-socmed">
                            <img :src="footer[0].footerDesc.wa" alt="">
                        </div>
                        <div class="btn-socmed">
                            <img :src="footer[0].footerDesc.tt" alt="">
                        </div>
                    </div>
                </div>
                <div class="footer-menu">
                    <p class="title-footer">{{footer[1].footerMenu[0].title[0]}}</p>
                    <div class="footer-menu">
                        <a href="#" class="footer-link" v-for="quickLink in footer[1].footerMenu[0].footerContent[0].quickLink">{{quickLink}}</a>
                    </div>
                </div>
                <div class="footer-menu">
                    <p class="title-footer">{{footer[1].footerMenu[0].title[1]}}</p>
                    <div class="footer-menu">
                        <a href="#" class="footer-link" v-for="categories in footer[1].footerMenu[0].footerContent[0].categories">{{categories}}</a>
                    </div>
                </div>
                <div class="footer-menu">
                    <p class="title-footer">{{footer[1].footerMenu[0].title[2]}}</p>
                    <div class="footer-menu">
                        <a href="#" class="footer-link" v-for="guide in footer[1].footerMenu[0].footerContent[0].guide">{{guide}}</a>
                    </div>
                </div>

            </div>
            <div class="footer-btm section-margin-top text-center section">
                <hr class="line-footer">
                <p class="copyright">{{footer[2].copyright}}</p>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="detail.js"></script>
</body>
</html>